name: e2e
"on":
  pull_request: null
  push:
    branches:
    - '**'
  schedule:
  - cron: 0 10 * * SAT
permissions:
  contents: read
jobs:
  docker-compose:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: isbang/compose-action@v1.4.1
      with:
        compose-file: docker-compose.yml
        services: |
          madsoup
