name: e2e
"on":
  pull_request: null
  push:
    branches:
    - '**'
  schedule:
  - cron: 0 10 * * SAT
permissions:
  contents: read
jobs:
  docker-compose:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Build
      uses: isbang/compose-action@v2.4.1
      with:
        compose-file: ./docker-compose.yaml
        services: |
          madsoup
